<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}"> -->
    <title>Covid Stats</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Containment Zone Alert System</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/user">Users</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/stats">Covid-Stats</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/zones">Containment Zones</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/logout">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header><br><br>
    <footer>
        <div class="container-fluid text-center"
          style="background-color: #b8cfe1; height: 520px; width: 450px; border-radius: 10px;">
          <br /><br />
          <div class="form-group" align="center">
            <form method="post" autocomplete="on" action="/zones/new">
              <p class="h4" style="color: #ff4c29"><b>ADD LOCATION</b></p>
              <br />
              <input id="ZoneID" type="text" name="ZoneID" class="form-control" placeholder="ZoneID"
                style="width: 75%" /><br />
              <input id="Latitude" type="text" name="Latitude" class="form-control" placeholder="Latitude"
                style="width: 75%" /><br />
              <input id="Longitude" type="text" name="Longitude" class="form-control" placeholder="Longitude"
                style="width: 75%" /><br />
              <input id="ZoneName" type="text" name="ZoneName" class="form-control" placeholder="Zone Name"
                style="width: 75%" /><br />
              <input type="submit" id="Add" value="Add" class="btn btn-primary" /><br /> <br />
              <p class="h5" style="color:#be1919;">{{msg}}</p>
              <!-- <button class="btn btn-primary" onclick="sendData()">Register</button> -->
            </form>
          </div>
        </div>
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>